body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ff00ff;
}

a {
  color: #00B7FF;
}

#nameContainer{  
  max-width: 300px;
  width: 300px;
}
.form-control{
  background-color: lightgray;
}
.nameBtn{
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#submitBtn{
  float:right;
}
.bracketDIV{
  min-width: 200px;
  max-width: 200px;
  margin: 0px;
  padding: 0px;
}
.bracketBtn
{
  height: 30px;
  width:100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#winDivBox
{
  text-align: center; 
  background: rgba(0,0,0,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(93,240,203,1) 34%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 56%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(34%, rgba(93,240,203,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(56%, rgba(240,47,23,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(93,240,203,1) 34%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 56%, rgba(0,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(93,240,203,1) 34%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 56%, rgba(0,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(93,240,203,1) 34%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 56%, rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(93,240,203,1) 34%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 56%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

